@tailwind base;
@tailwind components;
@tailwind utilities;
.loading-z_index_value{
    z-index: 111;
}

/* Change the scrollbar color for Webkit-based browsers */
/* This affects the thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #3F3F46;
    border-radius:50px

}
  
  /* This affects the track (the background) */
  ::-webkit-scrollbar {
    width: 5px; /* Change the scrollbar width */
    height: 10px;
  }
  img{
    /* width:500px; */
    height:288px
  }
  .loading_page{
    overflow-anchor-: none
  }
  .cart_list{
    max-height:30vh
  }
  .empty_cart_img{
    height:150px !important
  }
  .activity-btn button{
    margin:2px
  }
  .product_card{
    box-shadow: 0px 0px 11px 0px #433e438a
  }
  @media screen and (max-width: 600px) {
    .data_modal{
      width:100vw !important
    } 
    /* Styles for screens with a maximum width of 600px */
  }
  @media screen and (min-width: 601px){
    /* Styles for screens with a width between 601px and 1024px */
    .data_modal{
      width:80vw !important
    } 
  }
  /* .data_modal{
    min-height:56vh
  } */

  .shadow-custom{
    box-shadow: 16px 9px 27px -4px rgba(117,117,117,0.5);
  }